<%= render "shared/navbar" %>
<div class="jumbotron">
  <h1>Are you ƃu!ʞɔnɟ hungry?</h1>
  <p>Before you die starving, pleeeease get yourself some good food.</p>
  <p><a class="btn btn-default btn-lg" href="#" role="button">Order now</a></p>
</div>
<div class="container-fluid">
</div>

