<%= form_for(@foodmenu) do |f| %>
  <% if @foodmenu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foodmenu.errors.count, "error") %> prohibited this foodmenu from being saved:</h2>

      <ul>
      <% @foodmenu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <!-- Add this --> 
<%= f.text_field :restaurent_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
