<p id="notice"><%= notice %></p>

<h1>Listing Foodmenus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodmenus.each do |foodmenu| %>
      <tr>
        <td><%= foodmenu.name %></td>
        <td><%= foodmenu.price %></td>
        <td><%= link_to 'Show', foodmenu %></td>
        <td><%= link_to 'Edit', edit_foodmenu_path(foodmenu) %></td>
        <td><%= link_to 'Destroy', foodmenu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodmenu', new_foodmenu_path %>
