<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foodmenu.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @foodmenu.price %>
</p>

<%= link_to 'Edit', edit_foodmenu_path(@foodmenu) %> |
<%= link_to 'Back', foodmenus_path %>
