<%= form_for(@restaurent) do |f| %>
  <% if @restaurent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurent.errors.count, "error") %> prohibited this restaurent from being saved:</h2>

      <ul>
      <% @restaurent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
