<%= render "shared/navbar" %>
<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Amazing Restaurents<small></small></h1>
</div>
<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>

      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
            

    </tr>
  </thead>

  <tbody>
      <tr>
        <% @restaurents.each do |restaurent| %>
        <td><%= link_to restaurent.name, restaurent %></td>
        <td><%= restaurent.location %></td>
        <!-- <td><%= link_to 'Show', restaurent %></td> -->
        <td><%= link_to 'Edit', edit_restaurent_path(restaurent) if current_user.id == 1%></td>
      <!--<td><%= link_to 'Destroy', restaurent, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<%= link_to 'New Restaurent', new_restaurent_path %>
</div>