<%= render "shared/navbar" %>
<div class="container-fluid">

<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @restaurent.name %><small> - <%= @restaurent.location %></small></h1>
</div>

<hr/>
<h3>Comments</h3>
<% @foodmenus.each do |foodmenu| %> 
  <div>
    <strong>Name: </strong>
    <%= foodmenu.name %>
    <br />
    <strong>Comment: </strong>
  
    
  </div>
<% end %>
<%= render 'foodmenus/form' %>

<!-- <%= link_to 'Edit', edit_restaurent_path(@restaurent) %>  | -->
<%= link_to 'Back', restaurents_path %>
</div>