<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-tracks" =>true %>
  <%= javascript_include_tag "application", "data-turbolinks-tracks" =>true %>
  <%= csrf_meta_tags %>
  </head>
  <body>
<% if notice %>
  <!-- <p class="alert alert-success"><%= notice %></p> -->
<% end %>
          <%= yield %>
</html>